@page "/localfm/{id}"
@using TelegramDownloader.Data

@inject ITelegramService ts;
@inject ILogger<FileManager> Logger;


<style>
    .e-filemanager .e-splitter {
        height: 75vh !important;
    }

    .e-filemanager {
        height: 80vh !important;
    }
</style>

<h3><i class="bi bi-folder2-open me-2"></i>File Manager <span class="badge bg-secondary">@chatName</span></h3>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="@($"/fm/{id}")">Remote</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@($"/localfm/{id}")">Local</a>
    </li>
</ul>
<TelegramDownloader.Pages.Partials.impl.LocalFileManagerImpl id="@id"></TelegramDownloader.Pages.Partials.impl.LocalFileManagerImpl>


@code {
    [Parameter]
    public string id { get; set; }
    private string chatName { get; set; }
    private string _previousId;

    protected override async Task OnParametersSetAsync()
    {
        if (_previousId != id)
        {
            _previousId = id;
            await LoadDataAsync();
        }
    }

    private async Task LoadDataAsync()
    {
        try
        {
            chatName = ts.getChatName(Convert.ToInt64(id));
        }
        catch (Exception e)
        {
            Logger.LogError(e, "Error on getChatName");
        }
    }
}