/* Download and upload buttons*/

.download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #007bff; /* borde de color */
    color: #007bff; /* color del texto y el icono */
}

    .download-button .arrow {
        margin-right: 10px;
        animation: bounce 1s infinite;
    }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.download-button:hover {
    background-color: rgba(0, 123, 255, 0.1); /* ligero cambio de fondo en hover */
}
