@page "/downloads"

@using TelegramDownloader.Data
@using TelegramDownloader.Models
@using TelegramDownloader.Services

@inject TransactionInfoService tis

<Tabs>
    <Tab Title="Pending Tasks" IsActive="true">
        <Content>
            <div style="padding: 1em">
                <button class="btn btn-success" @onclick="clearTasks" data-bs-toggle="tooltip" data-bs-placement="top" title="Clear completed and error"><i class="bi bi-trash"></i> Clear</button>
            </div>
            
            <TelegramDownloader.Pages.Partials.TasksTable></TelegramDownloader.Pages.Partials.TasksTable>
        </Content>
    </Tab>
    <Tab Title="Downloads">
        <Content>
            <div style="padding: 1em">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button class="btn btn-success" @onclick="clearDownloads" data-bs-toggle="tooltip" data-bs-placement="top" title="Clear completed and error"><i class="bi bi-trash"></i> Clear</button>
                    @if (TransactionInfoService.isPauseDownloads)
                    {
                        <button type="button" @onclick="() => tis.PlayDownloads()" class="btn btn-outline-primary"><i class="bi bi-play"></i></button>
                    } else
                    {
                        <button type="button" @onclick="() => tis.PauseDownloads()" class="btn btn-outline-primary"><i class="bi bi-pause"></i></button>
                    }
                    <button type="button" @onclick="() => tis.StopDownloads()" class="btn btn-outline-primary"><i class="bi bi-stop"></i></button>
                </div>
                
            </div>
            <Tabs>
                <Tab Title="Downloads">
                    <Content>
                        <TelegramDownloader.Pages.Partials.DownloadsTable isPending="false"></TelegramDownloader.Pages.Partials.DownloadsTable>
                    </Content>
                </Tab>
                <Tab Title="Pending">
                    <Content>
                        <TelegramDownloader.Pages.Partials.DownloadsTable isPending="true"></TelegramDownloader.Pages.Partials.DownloadsTable>
                    </Content>
                </Tab>
            </Tabs>
            
        </Content>
    </Tab>
    <Tab Title="Uploads">
        <Content>
            <div style="padding: 1em">
                <button class="btn btn-success" @onclick="clearUploads" data-bs-toggle="tooltip" data-bs-placement="top" title="Clear completed and error"><i class="bi bi-trash"></i> Clear</button>
            </div>
            <TelegramDownloader.Pages.Partials.UploadsTable></TelegramDownloader.Pages.Partials.UploadsTable>
        </Content>
    </Tab>
</Tabs>


@code {
    TransactionInfoService ts = new TransactionInfoService();
    protected override async Task OnInitializedAsync()
    {
    }

    
    async Task clearUploads()
    {
        ts.clearUploadCompleted();
    }

    async Task clearDownloads()
    {
        ts.clearDownloadCompleted();
    }

    async Task clearTasks()
    {
        ts.clearTasksCompleted();
    }

    
    
}
