@page "/local-files"

<style>
    .e-filemanager .e-splitter {
        height: 75vh !important;
    }

    .e-filemanager {
        height: 80vh !important;
    }
</style>

<h3>
    <i class="bi bi-folder2-open me-2"></i>Local File Manager
</h3>

<TelegramDownloader.Pages.Partials.impl.LocalFileManagerImpl id="local" isShared="true"></TelegramDownloader.Pages.Partials.impl.LocalFileManagerImpl>
